:host {
  display: flex;
  gap: 8px;
  flex-direction: column;
  width: 100%;
}

label {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--gray-700);
  cursor: pointer;
  width: fit-content;
}

.container {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  gap: 12px;
  padding-left: 12px;
  border: 1px solid var(--gray-300);
  border-radius: 8px;
  color: var(--gray-400);
  cursor: text;
  justify-content: space-between;
}

input {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  outline: none;
  background: transparent;
  flex-grow: 1;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  padding: 14px 0;
  color: var(--gray-800);
  caret-color: var(--brand-base);
}

input::placeholder {
  color: var(--gray-400);
}

.eye-icon {
  display: grid;
  place-items: center;
  color: var(--gray-800);
  padding: 0 12px;
  height: 100%;
  cursor: pointer;
}

.eye-icon lucide-icon {
  pointer-events: none;
}

label,
.container,
.container .lock-icon,
input {
  transition: 0.2s;
}

label.focused,
.container.focused .lock-icon {
  color: var(--brand-base);
}

.container.contains-text:not(.focused) .lock-icon {
  color: var(--gray-800);
}

.container.error .lock-icon,
label.error {
  color: var(--danger);
}
