:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--gray-200);
  border-radius: 12px;
  background-color: white;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray-200);
}

.header > p {
  color: var(--gray-500);
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.6px;
  font-weight: 500;
  margin: 22px 24px;
}

.header a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--brand-base);
  margin: 20px 12px;
}

.transaction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 24px;
  border-bottom: 1px solid var(--gray-200);
  max-height: 80px;
}

.icon-and-info {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 16px;
}

.icon-and-info lucide-icon {
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.icon-and-info .info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.icon-and-info .info .description {
  font-size: 1rem;
  line-height: 24px;
  font-weight: 500;
  color: var(--gray-800);
}

.icon-and-info .info .date {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--gray-600);
}

.category {
  display: grid;
  place-items: center;
  height: 80px;
  width: 160px;
}

.category p {
  padding: 4px 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  border-radius: 50px;
}

.value {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 8px;
  height: 80px;
  width: 160px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.income-icon {
  color: var(--brand-base);
}

.expense-icon {
  color: var(--red-base);
}

.new-transaction {
  width: 100%;
  display: grid;
  place-items: center;
}

.new-transaction button {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  background: none;
  font: inherit;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--brand-base);
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  transition: 0.2s;
}

.new-transaction button:hover {
  transform: scale(105%);
}

.new-transaction button:active {
  transform: scale(102%);
}

.new-transaction button:focus-visible {
  outline: 2px solid var(--brand-base);
  outline-offset: 2px;
}
