:host {
  display: flex;
  gap: 8px;
  flex-direction: column;
  width: 100%;
}

label {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--gray-700);
  cursor: pointer;
  width: fit-content;
}

.input-container {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  gap: 12px;
  border: 1px solid var(--gray-300);
  border-radius: 8px;
  padding: 14px 12px;
  color: var(--gray-400);
  cursor: text;
}

input {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--gray-800);
  caret-color: var(--brand-base);
}

input::placeholder {
  color: var(--gray-400);
}

label,
.input-container,
input {
  transition: 0.2s;
}

label.focused {
  color: var(--brand-base);
}

label.error {
  color: var(--danger);
}

:host ::ng-deep .input-container lucide-icon {
  color: var(--gray-400);
  transition: 0.2s;
}

:host ::ng-deep .input-container.focused lucide-icon {
  color: var(--brand-base);
}

:host ::ng-deep .input-container.contains-text:not(.focused) lucide-icon {
  color: var(--gray-800);
}

:host ::ng-deep .input-container.error lucide-icon {
  color: var(--danger);
}
